@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@400;700&display=swap');

:root {
    --main-color: black;
    --accent-color: red;
    font-family: 'Mukta', sans-serif;
}

body {
    max-width: 820px;
    margin: auto;
}

.header-nav .logo {
    font-family: 'Krona One', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.header-nav .menu-items {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.header-nav .menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}

.header-nav .menu-items a:hover {
    border: 1px solid var(--main-color)
}

@media (min-width: 769px) {
    .header-nav {
        display: flex;
        align-items: center;
    }
}

.header-banner {
    background-image: url('../img/baby.jpg');
    background-size: cover;
    background-position: top;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-banner h1 {
    color: var(--accent-color);
    font-family: 'Krona One', sans-serif;
    font-size: 2.5rem;
}

/*buttons*/

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #ffffff;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #ffffff
}



