@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@400;700&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 820px;
    margin: auto;
}

.header-nav .logo {
    font-family: 'Krona One', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.header-nav .menu-items {
    display: none;
    justify-content: space-around;
    flex: 1;
}

.header-nav .menu-items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}

.header-nav .menu-items a:hover {
    border: 1px solid var(--main-color)
}

@media (min-width: 769px) {
    
    .burger-icon {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    #burger-checkbox ~ .menu-items {
    display: flex;
    }
}

.header-banner {
    background-image: url('../img/mountain.jpg');
    background-size: cover;
    background-position: top;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-banner h1 {
    color: var(--accent-color);
    font-family: 'Krona One', sans-serif;
    font-size: 2.5rem;
}

.product-card img {
    width: 100%;
}

.product-card .product-buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 500px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 740px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

section h2 {
    margin-top: 80px;
    font-family: 'Krona One', sans-serif;
}

.product-card h3 {
    font-family: 'Krona One', sans-serif;
}

article.product-card {
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 1px 5px;
    margin-top: 5px;
}

footer h2#contact {
    font-family: 'Krona One', sans-serif;
    margin-top: 80px;
}

/*Burger-menu*/

.burger-icon {
    font-size: 2rem; 
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

.header-nav input:checked ~ .menu-items {
    display: block;
}

/*buttons*/

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #ffffff;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}


